.toggle-wrapper {
  @apply flex items-center;
  &__checkmark {
    @apply relative h-5 w-9 rounded-full border-gray-600  bg-gray-700 after:absolute
      after:start-[2px] after:top-[2px] after:h-4
      after:w-4 after:rounded-full after:border
      after:border-gray-300 after:bg-white after:transition-all
      after:content-[''];
    &--checked {
      @apply bg-blue-600 after:translate-x-full after:border-white focus:outline-none focus:ring-4
      focus:ring-blue-300 rtl:after:-translate-x-full;
    }
  }
  &__label {
    @apply ms-1 text-base font-medium text-gray-900;
  }
  &--error & {
    &__label {
      @apply text-red-600;
    }
  }
}
