.toggle-wrapper {
  @apply flex items-center;
  &__checkmark {
    @apply border-c-border bg-c-muted-foreground after:border-c-muted-foreground after:bg-c-primary-foreground relative mr-2 h-5
      w-9 rounded-full after:absolute
      after:start-[2px] after:top-[2px] after:h-4
      after:w-4 after:rounded-full after:border
      after:transition-all after:content-[''];
    &--checked {
      @apply after:border-c-primary-foreground focus:ring-c-primary-foreground bg-c-primary after:translate-x-full focus:outline-none
      focus:ring-4 rtl:after:-translate-x-full;
    }
  }
  &--error & {
    &__checkmark {
      @apply bg-c-destructive;
    }
  }
}
